<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="jumbotron-narrow.css" rel="stylesheet">


    <title>Blog</title>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Home</h3>
      </div>

      <div class="jumbotron">
        <h1>Create A New Blog</h1>
        <p class="lead">
	<form role="form" method="POST">
	  <div class="form-group">
	    <input type="text" class="form-control" name ="newblogtitle" placeholder="Enter Title">
	  </div>
	</p>
        <p><input type="submit" name="b" class="btn btn-default" value="Create"></p>
	</form>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
	  {% for blog in blogs %}
	    <h4>Blog  {{loop.index}}. <a href="/{{blog[1]}}">{{ blog[0] }}</a></h4>
	  {% endfor %}

      <div class="footer">
        <p>&copy; StuyCS</p>
      </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
