<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<title>{{ post_dict['title'] }}</title>
</head>

<body>
<div class="container">
  <div class="jumbotron">
    <h1>{{ post_dict['title'] }}</h1>
    <h2>By {{ post_dict['author'] }}</h2>
    <p>{{ post_dict['content'] }}</p>
  </div>
  <form role="form" method="POST">
    <div class="form-group">
      <h3>Add Comment</h3>
      <p><input type="text" name="author" placeholder="Author" class="form-control"></p>
      <p><input type="text" name="content" placeholder="Comment" class="form-control"></p>
      <input type="submit" name="b" value="Submit" class="btn btn-default">
    </div>
  </form>
  <h3>Comments</h3>
  {% for comment in comments %}
    <div class="panel panel-info">
      <div class="panel-heading">{{ comment[2] }}</div>
      <div class="panel-body">{{ comment[0] }}</div>
    </div>
  {% endfor %}
</div>


<hr>
<address></address>
</body> </html>
